.footer {
  background-color: #343a40;
  padding: 1.875rem 0;
  position: relative;
  z-index: 5;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  line-height: 1.28;
}

.footer__text {
  text-transform: uppercase;
  font-weight: 700;
  color: #e5e5e5;
}

.footer__up {
  position: relative;
  font-weight: 400;
  color: #e5e5e5;
}

.footer__up::after {
  content: "";
  position: absolute;
  bottom: -0.1875rem;
  left: 50%;
  width: 0;
  height: 0.1563rem;
  transition: all 0.3s;
  background-color: #d4a373;
}

.footer__up:hover::after {
  width: 90%;
  left: 0.125rem;
}
