.adventure {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.adventure__background-color {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
}

.background__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.adventure__container {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.9375rem;
  padding-top: 6.25rem;
  padding-bottom: 8.75rem;
}

.adventure__body {
  display: flex;
  gap: 0.625rem;
  color: #e5e5e5;
  align-items: flex-start;
}

.adventure__date::after {
  content: "";
  width: 1.875rem;
  height: 0.125rem;
  background-color: #e5e5e5;
}

.adventure__date {
  display: flex;
  gap: 0.6875rem;
  align-items: center;
  color: #e5e5e5;
}

.adventure__text {
  max-width: 26.25rem;
}

.adventure__label,
.adventure__title,
.adventure__body {
  transform: translate(0, 3.125rem);
  opacity: 0;
  transition: all 0.8s;
}

.loaded .adventure__label {
  transition-delay: 0.5s;
}

.loaded .adventure__title {
  transition-delay: 0.7s;
}

.loaded .adventure__body {
  transition-delay: 0.9s;
}

.loaded .adventure__label,
.loaded .adventure__title,
.loaded .adventure__body {
  transform: translate(0, 0);
  opacity: 1;
}
