.posts {
  background-color: #f8f9fa;
  position: relative;
  z-index: 5;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.posts__title {
  margin-bottom: 2.8125rem;
  opacity: 0;
  transform: translate(0, 3.125rem);
}

.posts__title.anim {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s;
}

.posts__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(26.25rem, 1fr));
  gap: 1.25rem;
}

.item-posts {
  position: relative;
  overflow: hidden;
  border-radius: 0.3125rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 3.125rem);
}

.item-posts.anim {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transition: all 1s;
}

.item-posts__label {
  position: absolute;
  z-index: 3;
  top: 1.25rem;
  right: 1.25rem;
}

.item-posts__body {
  position: relative;
  z-index: 2;
  display: grid;
  align-content: end;
  color: #e5e5e5;
  min-height: 21.875rem;
  gap: 0.9375rem;
  padding: 2.5rem;
}

.item-posts__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.38;
}

.item-posts__title:hover {
  text-decoration: underline;
}

.item-posts__link-title {
  color: #ffffff;
}

.item-posts .item-posts__text {
  color: #e5e5e5;
}

.item-posts__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #343a40;
}

.item-posts__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s;
  opacity: 0.5;
}

.item-posts:hover .item-posts__image img {
  transform: scale(1.05);
}

@media (max-width: 991.98px) {
  .posts {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }

  .posts__title {
    margin-bottom: 1.5625rem;
  }
}

@media (max-width: 767.98px) {
  .posts {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 479.98px) {
  .posts__items {
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  }

  .item-posts__body {
    padding: 0.9375rem;
    min-height: 18.75rem;
  }
}
