.main-slider {
  min-width: 0;
}

.main-slider__wrapper {
  display: flex;
}

.main-slider__slide {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  background-color: #343a40;
}

.main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.main-slider__container {
  min-height: 100vh;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
  padding-top: 6.25rem;
  padding-bottom: 8.75rem;
  text-align: center;
  opacity: 0;
  transform: translate(0, 3.125rem);
  transition: all 1.5s;
}

.main-slider__container.anim {
  opacity: 1;
  transform: translate(0, 0rem);
}

.bullets {
  position: relative;
  z-index: 2;
  margin-top: -8.75rem;
}

.main-slider__body {
  display: flex;
  gap: 0.625rem;
  color: #e5e5e5;
  align-items: flex-start;
}

.main-slider__date::after {
  content: "";
  width: 1.875rem;
  height: 0.125rem;
  background-color: #e5e5e5;
}

.main-slider__date {
  display: flex;
  gap: 0.6875rem;
  align-items: center;
}

.main-slider__text {
  max-width: 26.25rem;
}

.bullets__items {
  display: flex;
  align-items: center;
  height: 8.75rem;
  gap: 0.625rem;
  justify-content: center;
}

.bullets__items .swiper-pagination-bullet {
  flex: 0 0 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.2;
  transition: opacity 0.3s;
  cursor: pointer;
}

.bullets__items .swiper-pagination-bullet-active {
  opacity: 1;
}
